.li{
    padding: -30px;
}
.plan
{
    font-family: 'Dancing Script', cursive;
    font-size: 37px;
}
.price{
    font-size: 30px;
    font-weight: bold;
}
.sub-container{
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
    border: 10px orangered solid;
    border-radius:8%;
    padding: 3%;
    text-align: center;
    flex: 0 1 200px;
    background-color: #FFFDD0
    
}
 
.price-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
   gap:10px;
     
}
button{
    color: black;
    border: 3px solid;
    background-color: orange;
    border-radius: 10px;
    font-size: 20px

}
@media (max-width:824px) {
    .price-container{
        flex-direction:column;
        height: 100%;
        min-width: 200px;
        
    }

    .sub-container{
        margin-bottom:8px;
        padding: 1%;
        border: 5px orangered solid;
        font-size: 15px;
    }

    .plan{
     font-size: 24px;
    }
    .price{
        font-size:22px;
        font-weight: bold;
    }
    button
    {
        font-size: 15px;
    }
}